# NPM
node_modules
npm-debug.log

# Jekyll
_site
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
Gemfile.lock
**/Gemfile.lock

# Temporary files
tmp
.DS_Store
Desktop.ini
._*
Thumbs.db
.Spotlight-V100
.Trashes
.idea

#amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*